/* Global Styles */
body {
    background-color: #ffffff;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
}

/* Wrapper ID */
#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

/* Header Styles */
header {
    background-color: #003058;
    color: #ffffff; /* This will color the text inside the header */
    text-align: left;
    padding: 1rem;
    position: relative; /* Added for positioning the logo */
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2em; 
    color: #ffffff;
    background-image: url('utahtechlogo.svg'); /* Path to your logo */
    background-repeat: no-repeat;
    background-position: right center; /* Aligns to the right and vertically centers */
    background-size: auto 60px; /* Scales the image to fit the height */
    padding-right: 70px; /* Adds space so the text doesn't overlap the logo */
}

/* Optional: This rule can be used to set a specific size for the logo if background-size isn't working as desired */
h1::before {
    content: '';
    display: block;
    float: right;
    width: 60px;
    height: 60px;
    background-image: url('utahtechlogo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
}

header h1 {
    line-height: 140%;
    padding: .5rem;
    margin-bottom: 0;
    background-image: url('images/utahtechlogo.svg');

}

/* Navigation Styles */
nav {
    font-weight: bold;
    background-color: #F3F3F3;
    padding: .5rem;
}

nav a {
    text-decoration: none;
    color: #003058;
}

/* Main Content Styles */
h2 {
    color: #424242;
    font-family: Georgia, serif;
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

dt {
    color: #003058;
    font-weight: bold;
}

/* Footer Styles */
footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
    background-color: #003058;
    color: #ffffff;
}

/* Add this new rule to your existing style.css file */

#facultyhero {
    height: 300px;
    background-image: url('images/facultyhero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#homehero {
    height: 300px;
    background-image: url('images/homehero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#studenthero {
    height: 300px;
    background-image: url('images/studenthero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

