/* Body */
body {
    background: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

/* Wrapper */
#wrapper {
    width: 80%;
    min-width: 960px;
    max-width: 2048px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px rgba(66,66,66,0.3);
    margin: 0 auto;
}

/* Header */
h1 {
    padding-left: 1em;
    background-image: url('utahtechlogo.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin-bottom: 0;
}

/* Nav */
nav {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
}
nav a {
    text-decoration: none;
    color: #003058;
    margin-right: 1rem;
}

/* Footer */
footer {
    padding: 1rem;
    text-align: center;
}

/* H3 */
h3 {
    color: #003058;
}

/* Main */
main {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Hero Divs */
#homehero, #studenthero, #facultyhero {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#homehero { background-image: url('homehero.jpg'); }
#studenthero { background-image: url('students.jpg'); }
#facultyhero { background-image: url('facultyhero.jpg'); }

