/* Global Styles */
body {
    background-color: #ffffff;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
}

/* Wrapper ID */
#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

/* Header Styles */
header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, serif;
    padding: 1em;
}

header h1 {
    line-height: 140%;
    padding: .5rem;
}

/* Navigation Styles */
nav {
    font-weight: bold;
    background-color: #F3F3F3;
    padding: .5rem;
}

nav a {
    text-decoration: none;
    color: #003058;
}

/* Main Content Styles */
h2 {
    color: #424242;
    font-family: Georgia, serif;
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

dt {
    color: #003058;
    font-weight: bold;
}

/* Footer Styles */
footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
    background-color: #003058;
    color: #ffffff;
}

/* Add this new rule to your existing style.css file */

#facultyhero {
    height: 300px;
    background-image: url('facultyhero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
