body {
    background: linear-gradient(to bottom, #e6f0ff, #ffffff);    
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff; 
}

header {
    background-color: #003058;
    color: #ffffff; 
    text-align: left;
    padding: .5rem;
    position: relative; 
}

h1 {
    margin: 0;
    padding: 0.5rem;
    font-size: 2em; 
    color: #ffffff;
    background-image: url('images/utahtechlogo.svg'); 
    background-repeat: no-repeat;
    background-position: right; 
    background-size: 100px auto; 
    padding-right: 0px; 
    background-origin: content-box;
}



nav {
    font-weight: bold;
    background-color: #ffffff;
    padding: .5rem;
    padding-left: 2rem; 
}

nav a {
    text-decoration: none;
    color: #003058;
}

h2 {
    color: #424242;
    font-family: Georgia, serif;
}

h3 {
    color: #003058; 
}

.ut {
    color: #BA1C21;
    font-weight: bold;
}

dt {
    color: #003058;
    font-weight: bold;
}

footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
    background-color: #003058;
    color: #ffffff;
}

#facultyhero, #homehero, #studenthero {
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#facultyhero {
    background-image: url('images/facultyhero.jpg');
}
#homehero {
    background-image: url('images/homehero.jpg');
}
#studenthero {
    background-image: url('images/studenthero.jpg');
}

main {
    padding-left: .5rem;
    padding-right: .5rem;
}
